.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    margin: 0;
  }

  .now {
    display: flex;
    align-items: baseline;
    gap: 12px;

    .nowTemp {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .metaList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px 16px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
