.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  .title {
    flex: 1;
    margin: 0;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;

  .icon {
    flex-shrink: 0;
  }

  .meta {
    display: flex;
    flex-direction: column;
  }
}
