.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .title {
      margin: 0;
      text-align: center;
    }
  }
}
